body {
  margin:0;
}

.todo {
  background-color: #e0e0e0;
  width: 550px;
  margin-left: auto;
  margin-right: auto;  
}

.todo__header {
  text-align: center;
  height: 100px;
  line-height: 100px;
}

.todo__title {
  font-size: 70px;
  font-weight: bold;
  font-family: Helvetica;
  color: #c7c7c7;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.todo__caption {

}

.todo__splitter {
  height: 15px;
  background-color: #7f6f68;
}

.todo__input {
  display: block;
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  height: 48px;
  font-size: 24px;
  font-style: normal;
  font-family: Helvetica;
  background-color: #f4f4f4;
}

.todo__input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 200;
}

.todo__input::-moz-placeholder {
  font-style: italic;
}

